        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Market Prices & Trends</span>
                </div>
            </div>
            <div class="row">

                <div *ngFor="let chart of objKeys" class="col-sm-6 news-block">

                    
                  <table class="cp-statistics-table sett-table">
                  <tr>
                    <td class="newenergy" colspan="2"> SETTLEMENTS </td>
                  </tr>
                  <tr *ngFor='let datas of charts[chart]'>
                      <td>{{ datas.name }}</td>
                      <td>{{ datas.mv }}</td>
                  </tr>
                  </table>

            
                  <div class="chart-div">
                    <p>{{ chart }}</p>
                    <div id="chart1" style="background-color: red; width:100%; height: 200px;">
                      
                    </div>
                    <button class="seemore-btn">See more »{{ ids }}</button>
                  </div>

                </div>

            </div>
        </div>