        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Statistics</span>
                </div>
            </div>
            <div class="row">
                <div class="news-block col-sm-12 cp-stats-div">
                  <table class="cp-statistics-table">
                      <thead>
                        <tr>
                            <th>FROM THE BEGINNING OF THIS YEAR</th>
                            <th>WEDNESDAY<br><span>11/4</span></th>
                            <th>THURSDAY<br><span>12/4</span></th>
                            <th>FRIDAY<br><span>13/4</span></th>
                            <th>MONDAY<br><span>16/4</span></th>
                            <th>TUESDAY<br><span>17/4</span></th>
                            <th>WEDNESDAY<br><span>18/4</span></th>
                            <th>VAR D-1</th>
                            <th>VAR W-1</th>
                            <th>AVG.</th>
                            <th>MAX</th>
                            <th>MIN</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="newenergy" colspan="12">gas</td>
                        </tr>
                        <tr>
                          <td>TTF spot EUR/MWh</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td>NBP spot GBpence/therm</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td>NBP spot GBpence/therm</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td colspan="12" class="newenergy">oil</td>
                        </tr>
                        <tr>
                          <td>Brent USD/bbl USD/bbl</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td>Brent USD/bbl USD/bbl</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bggoluboi">53.12%</td>
                          <td class="bgpink">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>