        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Statistics</span>
                </div>
            </div>
            <div class="row">
                <div class="news-block col-sm-12 cp-stats-div">
                  <table class="cp-statistics-table">
                      <thead>
                        <tr>
                            <th>FROM THE BEGINNING OF THIS YEAR</th>
                            <th *ngFor = "let days of wday; let i = index">{{ days }}<br><span>{{ wdate[i] }}</span></th>
                            <th>VAR D-1</th>
                            <th>VAR W-1</th>
                            <th>AVG.</th>
                            <th>MAX</th>
                            <th>MIN</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="newenergy" colspan="12">gas</td>
                        </tr> 
                        <tr *ngFor = "let data of testme">
                          <td> {{ data.name }} {{ data.unit }}/{{ data.curr }}</td>
                          <td> {{ data.v1 }} </td>
                          <td> {{ data.v2 }} </td>
                          <td> {{ data.v3 }} </td>
                          <td> {{ data.v4 }} </td>
                          <td> {{ data.byv }} </td>
                          <td> {{ data.yv }} </td>
                          <td [ngClass]="GiveClass(data.yp)"> {{ data.yp ? data.yp : '-' }} </td>
                          <td [ngClass]="GiveClass(data.wp)"> {{ data.wp ? data.wp : '-' }} </td>
                          <td> {{ data.mavg }} </td>
                          <td> {{ data.ymax }} </td>
                          <td> {{ data.ymin }} </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>