<div *ngIf="achart">
		<div id='fancybox-overlay' [ngStyle]="{ 'display' : achart ? 'block' : 'none' }"></div>
		<div id='fancybox-wrap-chart' [ngStyle]="{ 'display' : achart ? 'block' : 'none' }">
				<div>	
					<span id="fancybox-close" [ngStyle]="{ 'display' : achart ? 'block' : 'none' }" (click)="hidechart()"></span>
					<h4 style="text-align: center;">{{ title }}</h4>
					<app-chartdata [takeMe]="takeMe"  id="charthere" [dfrom]='dateFrom' [dto]='dateTo'></app-chartdata>
					<div class="chart-menu">
						<div>
							<span>Date from:</span>
							<input type="text" [(ngModel)]="dateFrom">
						</div>
						<div>
							<span>Date to:</span>
							<input type="text" [(ngModel)]="dateTo">
						</div>
						<button (click)="drawChart()">View</button>
						<input type="image" style="cursor:pointer;" (click)="downloadXls()" name="submit" src="https://www.energymarketprice.com/assets/download_excel_button.png" width="140" height="36">
					</div>
				</div>	
		</div>
</div>
