<div class="wrapall">    
    <div class="container">

    <!-- header with menu -->
        <div class="col-sm-12 cp-name-div">
            <span class="cockpit-name">Daily Cockpit</span>
            <button class="button button-blue">Save changes</button>
            <button class="button button-white">Preview</button>
        </div>
        <div class='col-sm-12'>
            <ul class="menu-ul">
                  <li class='menu-li active'><i class='fa fa-file-alt'></i><span>market news</span></li>
                  <li class='menu-li'><i class='fa fa-chart-pie'></i><span>statistics</span></li>
                  <li class='menu-li'><i class='fa fa-bolt'></i><span>market prices & trends</span></li>
                  <li class='menu-li'><i class='fa fa-chart-bar'></i><span>hedge reporting</span></li>
                  <li class='menu-li'><i class='fa fa-dot-circle'></i><span>precurement scoring</span></li>
                  <li class='menu-li'><i class='fa fa-book'></i><span>library</span></li>
            </ul>
        </div>

    <!-- end header with menu -->


    <!-- news div start -->
        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Market News</span>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-3 news-block'>
                    <div class="col-sm-12">
                        <span class='ncategory'><img src='https://www.energymarketprice.com/ivan/uploads/oil.png'>Oil</span>
                        <span class="ntitle">Brecoder</span>
                        <hr>
                        <span class="ncontent">Oil prices diminished severely on Wednesday, following a report that OPEC’s  stockpiles reached full capacity due to ample supplies during the month. WTI crude slipped by</span>
                        <span class='ndate'>02/08/2018</span>
                        <span class="nlink"><i class="far fa-arrow-alt-circle-right"></i></span>
                    </div>
                </div>
                <div class='col-sm-3 news-block'>
                    <div class="col-sm-12">
                        <span class='ncategory'><img src='https://www.energymarketprice.com/ivan/uploads/oil.png'>Oil</span>
                        <span class="ntitle">Brecoder</span>
                        <hr>
                        <span class="ncontent">Oil prices diminished severely on Wednesday, following a report that OPEC’s  stockpiles reached full capacity due to ample supplies during the month. WTI crude slipped by</span>
                        <span class='ndate'>02/08/2018</span>
                        <span class="nlink"><i class="far fa-arrow-alt-circle-right"></i></span>
                    </div>
                </div>
                <div class='col-sm-3 news-block'>
                    <div class="col-sm-12">
                        <span class='ncategory'><img  src='https://www.energymarketprice.com/ivan/uploads/oil.png'>Oil</span>
                        <span class="ntitle">Brecoder</span>
                        <hr>
                        <span class="ncontent">Oil prices diminished severely on Wednesday, following a report that OPEC’s  stockpiles reached full capacity due to ample supplies during the month. WTI crude slipped by</span>
                        <span class='ndate'>02/08/2018</span>
                        <span class="nlink"><i class="far fa-arrow-alt-circle-right"></i></span>
                    </div>
                </div>
                <div class='col-sm-3 news-block'>
                    <div class="col-sm-12">
                        <span class='ncategory'><img src='https://www.energymarketprice.com/ivan/uploads/oil.png'>Oil</span>
                        <span class="ntitle">Brecoder</span>
                        <hr>
                        <span class="ncontent">Oil prices diminished severely on Wednesday, following a report that OPEC’s  stockpiles reached full capacity due to ample supplies during the month. WTI crude slipped by</span>
                        <span class='ndate'>02/08/2018</span>
                        <span class="nlink"><i class="far fa-arrow-alt-circle-right"></i></span>
                    </div>
                </div>
            </div>
        </div>
    <!-- end news div  -->

    <!-- Start statistics div -->
        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Statistics</span>
                </div>
            </div>
            <div class="row">
                <div class="news-block col-sm-12">
                  <table class="cp-statistics-table">
                      <thead>
                        <tr>
                            <th>FROM THE BEGINNING OF THIS YEAR</th>
                            <th>WEDNESDAY<br><span>11/4</span></th>
                            <th>THURSDAY<br><span>12/4</span></th>
                            <th>FRIDAY<br><span>13/4</span></th>
                            <th>MONDAY<br><span>16/4</span></th>
                            <th>TUESDAY<br><span>17/4</span></th>
                            <th>WEDNESDAY<br><span>18/4</span></th>
                            <th>VAR D-1</th>
                            <th>VAR W-1</th>
                            <th>AVG.</th>
                            <th>MAX</th>
                            <th>MIN</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="newenergy" colspan="12">gas</td>
                        </tr>
                        <tr>
                          <td>TTF spot EUR/MWh</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td>NBP spot GBpence/therm</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td>NBP spot GBpence/therm</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td colspan="12" class="newenergy">oil</td>
                        </tr>
                        <tr>
                          <td>Brent USD/bbl USD/bbl</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bgpink">53.12%</td>
                          <td class="bggoluboi">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                        <tr>
                          <td>Brent USD/bbl USD/bbl</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td class="bggoluboi">53.12%</td>
                          <td class="bgpink">53.12%</td>
                          <td>53.12</td>
                          <td>53.12</td>
                          <td>53.12</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    <!-- end statistics div -->

    <!-- start market prices -->
        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Market Prices & Trends</span>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6 news-block">

                  <table class="cp-statistics-table sett-table">
                  <tr>
                    <td class="newenergy"  colspan="2">SETTLEMENTS</td>
                  </tr>
                  <tr>
                      <td>Brent USD/bbl USD/bbl</td>
                      <td>73.78</td>
                  </tr>
                  <tr>
                      <td>Brent Q+3 USD/bbl</td>
                      <td>71.58</td>
                  </tr>
                  </table>

                  <div class="chart-div">
                    <p>Gas Market</p>
                    <div id="chart1" style="background-color: red; width:100%; height: 200px;">
                      
                    </div>
                    <button class="seemore-btn">See more »</button>
                  </div>

                </div>

                <div class="col-sm-6 news-block">

                  <table class="cp-statistics-table sett-table">
                  <tr>
                    <td class="newenergy"  colspan="2">SETTLEMENTS</td>
                  </tr>
                  <tr>
                      <td>PEG Nord spot EUR/MWh</td>
                      <td>19.79</td>
                  </tr>
                  <tr>
                      <td>IT PSV Gas spot EUR/MWh</td>
                      <td>21.83</td>
                  </tr>
                  </table>

                  <div class="chart-div">
                    <p>Gas Market Spot</p>
                    <div id="chart2" style="background-color: red; width:100%; height: 200px;">
                      
                    </div>
                    <button class="seemore-btn">See more »</button>
                  </div>

                </div>
            </div>
        </div>
    <!-- end market prices -->

    <!-- start hedge reporting -->
        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Hedge Reporting</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <div class ='cell'>
                      <div class='title-block'>SPAIN_ONO_FY19/20</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>EUR/MWh</b></p>
                           </span>
                           <span class='avg-number'>50.76</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>0</td>
                                 <td>EUR</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>28,818,990</td>
                                 <td>EUR</td>
                            </tr>
                       </table>
                       <div>
                          <button class="seemore-btn hedge-btn">See more »</button>
                        </div>
                  </div>
                  <div class ='cell'>
                      <div class='title-block'>SPAIN_ONO_FY19/20</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>EUR/MWh</b></p>
                           </span>
                           <span class='avg-number'>50.76</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>0</td>
                                 <td>EUR</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>28,818,990</td>
                                 <td>EUR</td>
                            </tr>
                       </table>
                       <button class="seemore-btn hedge-btn">See more »</button>
                  </div>
                                    <div class ='cell'>
                      <div class='title-block'>SPAIN_ONO_FY19/20</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>EUR/MWh</b></p>
                           </span>
                           <span class='avg-number'>50.76</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>0</td>
                                 <td>EUR</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>28,818,990</td>
                                 <td>EUR</td>
                            </tr>
                       </table>
                       <button class="seemore-btn hedge-btn">See more »</button>
                  </div>
                </div>
            </div>
        </div>
    <!-- end hedge reporting -->


<!-- https://www.energymarketprice.com/ivan/topconsolidated.asp?Company=Vodafone&ContractID=286 -->
<!-- https://www.energymarketprice.com/ivan/CP1.asp?Company=IvanEnergyMP&Group=poh_kakoi&lang=en -->
    </div>
</div>
