        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Hedge Reporting</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <div *ngFor = "let hedge of results" class ='cell col-sm-4'>
                      <div class='title-block'>{{ hedge.name }}</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>{{ hedge.curr }}/{{ hedge.unit }}</b></p>
                           </span>
                           <span class='avg-number'>{{ hedge.avg }}</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>{{ hedge.var }}</td>
                                 <td>{{ hedge.curr }}</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>{{ hedge.spent }}</td>
                                 <td>{{ hedge.curr }}</td>
                            </tr>
                       </table>
                        <div class="topcons-fixed-chart">
                           <div [chart]="ShowMeTheChart(hedge.fixed)"></div>
                           <!-- {{ ShowMeTheChart(hedge.open,hedge.fixed) | json }}  -->
                        </div>
                        <div class="topcons-link">
                          <button class="seemore-btn hedge-btn">See more »</button>
                        </div>
                  </div>
                </div>
            </div>
        </div>