        <div class='col-sm-12 cp-news-div'>
            <div class="row">
                <div class="col-sm-12">
                    <span class="subtitle">Hedge Reporting</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <div class ='cell col-sm-4'>
                      <div class='title-block'>SPAIN_ONO_FY19/20</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>EUR/MWh</b></p>
                           </span>
                           <span class='avg-number'>50.76</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>0</td>
                                 <td>EUR</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>28,818,990</td>
                                 <td>EUR</td>
                            </tr>
                       </table>
                        <div class="topcons-fixed-chart">
                           <div></div>
                        </div>
                        <div class="topcons-link">
                          <button class="seemore-btn hedge-btn">See more »</button>
                        </div>
                  </div>
                  <div class ='cell col-sm-4'>
                      <div class='title-block'>SPAIN_ONO_FY19/20</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>EUR/MWh</b></p>
                           </span>
                           <span class='avg-number'>50.76</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>0</td>
                                 <td>EUR</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>28,818,990</td>
                                 <td>EUR</td>
                            </tr>
                       </table>

                        <div class="topcons-fixed-chart">
                          <div></div>
                        </div>

                       <div class="topcons-link">
                         <button class="seemore-btn hedge-btn">See more »</button>
                       </div>

                  </div>
                  <div class ='cell col-sm-4'>
                      <div class='title-block'>SPAIN_ONO_FY19/20</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>EUR/MWh</b></p>
                           </span>
                           <span class='avg-number'>50.76</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>0</td>
                                 <td>EUR</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>28,818,990</td>
                                 <td>EUR</td>
                            </tr>
                       </table>
                       <div class="topcons-fixed-chart">
                         <div></div>
                       </div>
                       <div class="topcons-link">
                         <button class="seemore-btn hedge-btn">See more »</button>
                       </div>
                  </div>

                  <div class ='cell col-sm-4'>
                      <div class='title-block'>SPAIN_ONO_FY19/20</div>
                         <div class='text-title-block'>
                           <span class='text-span'>
                              <p>AVG price</p>
                              <p><b>EUR/MWh</b></p>
                           </span>
                           <span class='avg-number'>50.76</span>
                        </div>
                       <table class='topcons-data-table'>
                            <tr>
                                 <td><b>VaR</b></td>
                                 <td>0</td>
                                 <td>EUR</td>
                            </tr>
                  
                            <tr>
                                 <td><b>Spent</b></td>
                                 <td>28,818,990</td>
                                 <td>EUR</td>
                            </tr>
                       </table>
                        <div class="topcons-fixed-chart">
                           <div></div>
                        </div>
                        <div class="topcons-link">
                          <button class="seemore-btn hedge-btn">See more »</button>
                        </div>
                  </div>

                </div>
            </div>
        </div>